fieldset{
    width: fit-content;
    display: inline;
    margin-left: 540px;
    background-color: rgb(158, 192, 221);
    border-color: rgb(61, 82, 119);
    border-radius: 3px;
}
h1{
    color: rgb(61, 82, 119);
    text-align: center;
    margin: 0px;
}
input[type="submit"]{
    width: 35px;
    height: 30px;
    background-color: rgb(61, 82, 119);
    color: aliceblue;
    margin: 3px 2px 2px 1px;
    border-radius: 5px;
    border: 1px solid white;
}
input[type="submit"]:hover{
    background-color: brown;
}
input[type="text"]
{
    height: 35px;
    background-color: rgb(131, 130, 130);
    border: 1px solid rgb(61, 82, 119);
    border-radius: 3px;
    color: white;
}

